In [1]:
# Consider the string A='1234567', what is the result of the following operation: A[1::2]?
A='1234567'

In [32]:
# What is the result of the following operation 3+2*2?
3+2*2

7

In [2]:
A[1::2]

'246'

In [33]:
# What is the result of the following operation int(3.2)?
int(3.2)

3

In [36]:
# Consider the string Name="Michael Jackson" , what is the result of the following operation Name.find('el')?
Name="Michael Jackson"
Name.find('el')

5

In [35]:
# Consider the variable F="You are wrong". Convert the values in the variable F to uppercase
F="You are wrong"
F.upper()

'YOU ARE WRONG'

In [38]:
# Consider the tuple tuple1=("A","B","C" ), what is the result of the following operation tuple1[-1]?
tuple1=("A","B","C" )
tuple1[-1]

'C'

In [7]:
# Consider the tuple A=((11,12),[21,22]), that contains a tuple and list.
A=((11,12),[21,22])

In [10]:
# What is the result of the following operation A[1]
A[1]

[21, 22]

In [9]:
# What is the result of the following operation A[0][1]
A[0][1]

12

In [11]:
# What is the result of the following operation '1,2,3,4'.split(',')?
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [12]:
# Concatenate the following lists A=[1,'a'] and B=[2,1,'d']
A=[1,'a']
B=[2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

In [39]:
# How do you cast the list 'A' to the set 'a'?
a = set(A)

In [40]:
# Consider the Set: V={'A','B'}, what is the result of V.add('C')?
V={'A','B'}
V.add('C')

In [41]:
# Consider the Set: V={'A','B','C' }, what is the result of V.add('C')?
V.add('C')

In [16]:
# What is the output of the following lines of code?
x="Go"

if(x!="Go"):

 print('Stop')

else:

 print('Go ')

print('Mike')

Go
Mike

In [17]:
# What is the output of the following lines of code?
x="Go"
if(x == 'Go'):
    print('Go')
else:
    print('Stop')
print('Mike')

Go
Mike

In [19]:
# How many iterations are performed in the following loop?
for n in range(3):

 print(n)

0
1
2

In [20]:
# What does the following loop print?

for n in range(3):

 print(n+1)

1
2
3

In [21]:
# What is the output of the following few lines of code ?

A=['1','2','3']

for a in A:

 print(2*a)

11
22
33

In [23]:
# Consider the function add, what is the result of calling the following Add('1','1')?
def Add(x,y):

 z=y+x

 return(y)
Add(1,1)

1

In [26]:
# Consider the class Points, what are the data attributes?
class Points(object):

 def __init__(self,x,y):

  self.x=x

  self.y=y

 def print_point(self):

  print('x=',self.x,'y=',self.y)

In [30]:
# What is the result of running the following lines of code?
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,' y=',self.y)

p1=Points(1,2)

p1.print_point()

x= 1  y= 2

In [31]:
# What is the result of running the following lines of code?
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2